<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
    <servlet>
        <servlet-name>LoginControl</servlet-name>
        <servlet-class>com.example.control.LoginControl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginControl</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LogoutControl</servlet-name>
        <servlet-class>com.example.control.LogoutControl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutControl</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ManageStaffControl</servlet-name>
        <servlet-class>com.example.control.ManageStaffControl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManageStaffControl</servlet-name>
        <url-pattern>/manageStaff</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ManageCustomersControl</servlet-name>
        <servlet-class>com.example.control.ManageCustomersControl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManageCustomersControl</servlet-name>
        <url-pattern>/manageCustomers</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ManageItemsControl</servlet-name>
        <servlet-class>com.example.control.ManageItemsControl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManageItemsControl</servlet-name>
        <url-pattern>/manageItems</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ViewBillsControl</servlet-name>
        <servlet-class>com.example.control.ViewBillsControl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewBillsControl</servlet-name>
        <url-pattern>/viewBills</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ViewLogsControl</servlet-name>
        <servlet-class>com.example.control.ViewLogsControl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewLogsControl</servlet-name>
        <url-pattern>/viewLogs</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>com.example.control.AuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/adminDashboard.jsp</url-pattern>
        <url-pattern>/manageCustomers</url-pattern>
        <url-pattern>/manageStaff</url-pattern>
        <url-pattern>/manageItems</url-pattern>
        <url-pattern>/viewBills</url-pattern>
        <url-pattern>/viewLogs</url-pattern>
    </filter-mapping>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>